<div class="container">
    <div *ngFor="let genre of listOfMoviesGenres | keyvalue" class="spacerow">
        <div class="genreTitle">{{genre.key | uppercase}}</div>
        <div class="imagerow" >
            <button class="leftbutton" (click)="scrollLeft(container)" *ngIf="genre.value.length>3"></button>
            <ul #container class="rowul">                
                <li *ngFor="let movies of genre.value; let i = index" >
                   <a [routerLink]="['/detail', movies.id]"  ><img class="imagesize" [src]="movies.poster" > </a>
                   
                </li>                
            </ul>
            <button class="rightbutton" (click)="scrollRight(container)" *ngIf="genre.value.length>3"></button>
        </div>
    </div>
    <div *ngIf="!isMovieListAvailable" class="topmargin"><h4 class="whitefontcolor">Sorry, No Data</h4></div>
</div>
